
<style>
    h1{
    color:rgb(187, 84, 247); 
    background-color: rgba(218, 247, 84, 0.795);
    }
    nav {text-align: left;
    }
    p{
    font-size: 12pt;
    }
    footer{
    background-color: rgba(218, 247, 84, 0.795);
    }
    body {
    font: verdana, sans-serif;
    text-align: center;
    }
    ul {
    text-align: center;
    }
    table{
        border: 5px solid rgb(0, 0, 0); 
        border-width: 5pt;
        background-color: rgb(194, 193, 193);
    }
    img {
        display: block;
        margin: auto;
        width: 300px;
        height: 300px;
    }
</style>
